* {
    margin: 0;
    padding: 0;
}

li , a {
    list-style: none;
    text-decoration: none;
}

:root {
    --primary--:#DD0400;
    --secondary--: #ededed;
    --text--: #0e0e0e;
    --txtsec--: #2525256e;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 2000px;
    scrollbar-width: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--txtsec--); 
  border-radius: 8px;
}

body::-webkit-scrollbar-track-piece {
  background-color: #a4a4a4; 
}

.clear{ 
    clear: both; 
}

/* Navbar */

nav {
    background-color: var(--secondary--);
    width: 100%;
    height: 48px;
    top:0;
    box-sizing: border-box;
    position: fixed;
}

.logo {
    float: left;
    line-height: 60px;
    margin-left: 5%;
   
}
.logo img {
    width: 150px;
   
}

.menu {
    float: right;
    line-height: 48px;
    margin-right: 5%;
}

.menu ul li {
    display: inline-block;
    margin: 0 4px;

}

.menu ul li a {
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 50px;
    letter-spacing: -0.5px;
    font-weight: 500;
    color: var(--text--);
}

.menu li a:hover {
    background-color: var(--primary--);
    color: var(--secondary--);
    transition: 500ms;
}

.menu-icon{
    display: none;
    cursor: pointer;
    transition: 1s;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--text--);
  margin: 6px 0;
}

.regis {
    float: right;
    line-height: 48px;
    margin-right: 14px;
}

.button-1 {
    background-color: var(--primary--);
    padding: 6px 12px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary--);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 44px;
}

.button-1:hover {
    background-color:#dd040088;
}



/* Landing content */



main {
    padding-top: 200px;
    padding-bottom: 250px;
    transition: 1s;
    background: rgba(0,0,0,0.4) url(asset/background1.png);
    background-size: cover;
    background-blend-mode: darken;
}

.text-content {
    color: var(--secondary--);
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

main h1:nth-child(1) {
    margin-top: 100px;
} 

.search {
    background-color: var(--secondary--);
    width: 500px;
    border-radius: 50px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 50px;
}

.search img {
    width: 24px;
    margin-left: 20px;
    padding: 24px 16px;
    vertical-align: top;
}

.search input {
    padding: 24px 16px;
    border: none;
    background-color: inherit;
    color: var(--txtsec--);
    font-size: 20px;
    vertical-align: top;
    margin-top: 2px;
}

.search input:focus {
    outline:none;
}

/* responsive */
/* Laptop */
@media screen and (max-width:1336px) {
    *{
        font-size: 90%;
    }
    main {
        padding-top: 200px;
    }
    
}
/* Tablet */
@media screen and (max-width:776px ) and (min-width:400px) {
    *{
        font-size: 75%;
    }
    .menu {
        margin-right: 5%;
        margin-top: 2px;
    }

    .text-content {
        font-size: 2.8rem;
    }

    .logo {
        margin-top: 5px;
    }

    .search {
        width: 380px;
    }

    .search img {
        padding: 18px 14px;
    }

    .search input {
        padding: 18px 14px;
        font-size: 18px;
    }

    .menu ul li {
        margin: 0 0;
    }

    .menu ul li a {
        display: none;
    }
    
    .menu-icon {
        display: inline-block;
        position: absolute;
        right: 47%;
        top: 10px;
    }

    .bar {
    width: 20px;
    height: 3px;
    margin: 4px 0;
    }

}
/* Handphone */

@media screen and (max-width: 399px){
    *{
        font-size: 50%;
    }

    nav {
        position: fixed;
    }

    .menu ul li a , .menu ul li .button-1 {
        display: none;
    }

    .menu-icon {
        display: inline-block;
        position: absolute;   
        right: 12%;
        top: 10px;
    }

    .bar {
        width: 20px;
        height: 3px;
        margin: 4px 0;
    }

    .button-1 {
        margin-left: 200px;
    }

    .text-content {
        font-size: 2.5rem;
    }

    .logo {
        margin-top: 4px;
    }

    .search {
        width: 250px;
    }

    .search img {
        width: 16px;
        padding: 14px 10px;
        margin-left: 8px;
    }

    .search input {
        font-size: 14px;
        padding: 10px 4px;
        margin-top: 4px;
    }

}

/* Feature content */

section {
    text-align: center;
    background-color: var(--primary--);
}
section h1 {
    margin:0;
    text-align: center;
    font-size: 2.8rem;
    color: var(--secondary--);
}

.container-feature div {
    width: 200px;
    margin-top: 40px;
    display: inline-block;
    text-align: center;
}

.container-feature div img {
    width: 140px;
}
.container-feature div:nth-child(2) img {
    width: 100px;
}

.container-feature div p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
    color: var(--secondary--);
}